// Aplicamos este estilo solo a los botones dentro de este componente.
:host button {
  // Añadimos una transición suave para que el cambio de color al pasar el ratón no sea brusco.
  transition: background-color 200ms ease-in-out;
}

.gradient-text {
  background: linear-gradient(to right, hsl(var(--primary)), hsl(var(--primary-glow)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.notification-menu {
  width: 300px; // Adjust width as needed
  max-height: 400px; // Adjust max height as needed
  overflow-y: auto; // Add scroll if content exceeds max height
}