.litepicker {
    background-color: hsl(var(--popover)) !important;
    border-radius: var(--lg) !important;
    border: 1px solid hsl(var(--border)) !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.litepicker .container__header, .litepicker .container__months {
    color: hsl(var(--popover-foreground));
}
.litepicker .container__header button {
    color: hsl(var(--primary));
}
.litepicker .container__header button:hover {
    background-color: hsl(var(--muted)) !important;
    border-radius: var(--md);
}
.litepicker .month-item.is-today {
    color: hsl(var(--primary)) !important;
    font-weight: bold;
    border-color: hsl(var(--primary)) !important;
}
.litepicker .month-item.is-selected {
    background-color: hsl(var(--primary)) !important;
    color: hsl(var(--primary-foreground)) !important;
}
.litepicker .month-item.is-in-range {
    background-color: hsl(var(--primary) / 0.2) !important;
}
.litepicker .month-item:hover {
    background-color: hsl(var(--muted)) !important;
    border-radius: 9999px;
}
.litepicker .container__footer {
    border-top: 1px solid hsl(var(--border));
}
.litepicker .container__footer button {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border-radius: var(--md);
}
.litepicker .container__footer button:hover {
    opacity: 0.9;
}