// Selecciona todos los enlaces <a> y botones <button> dentro del componente.
:host ::ng-deep a,
:host ::ng-deep button {
  // Aplicamos los estilos de hover que definiste en tu diseño.
  @apply hover:bg-muted text-muted-foreground;

  // ¡NUEVO! Añadimos una transición suave para el color de fondo y el texto.
  // La animación durará 200ms y tendrá una curva de aceleración suave.
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

// Estilo para el enlace activo, sin cambios, pero ahora se aplicará sobre la base anterior.
.active-link {
  @apply bg-primary/10 text-primary shadow-glow-primary border border-primary/50 font-semibold;
}

.sidebar-logo {
  width: 130px;
  margin: 0 auto 10px;
  margin-bottom: -25px;
  display: block;
  image-rendering: auto;
  -webkit-user-drag: none;
  user-select: none;
}
