<aside [@slideIn] class="w-64 h-full bg-card border-r border-border flex flex-col">
  <div class="h-20 flex items-center px-6">
    <img src="assets/images/logos/logo2.png" alt="SafeTrack Logo" class="sidebar-logo" />
  </div>

  <nav class="flex-1 flex flex-col">
    <div class="px-4 py-4 space-y-2 flex-grow">
      <a
        routerLink="/dashboard"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">dashboard</span>
        {{ 'SIDEBAR.DASHBOARD' | translate }}
      </a>
      <a
        routerLink="/monitoring/individual"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">person</span>
        {{ 'SIDEBAR.MONITORING' | translate }}
      </a>
      <a
        routerLink="/monitoring/live-events"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">notifications_active</span>
        {{ 'SIDEBAR.LIVE_EVENTS' | translate }}
      </a>
      <a
        routerLink="/reports"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">analytics</span>
        {{ 'SIDEBAR.ANALYTICS' | translate }}
      </a>
      <a
        routerLink="/management/drivers"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">badge</span>
        {{ 'SIDEBAR.DRIVERS' | translate }}
      </a>
      <a
        routerLink="/management/vehicles"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">local_shipping</span>
        {{ 'SIDEBAR.VEHICLES' | translate }}
      </a>
      <a
        routerLink="/management/rules"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">rule</span>
        {{ 'SIDEBAR.RULES' | translate }}
      </a>
      <a
        routerLink="/management/users"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">group</span>
        {{ 'SIDEBAR.USERS' | translate }}
      </a>
    </div>

    <div class="px-4 py-4 mt-auto">
      <a
        routerLink="/settings"
        routerLinkActive="active-link"
        class="flex items-center px-4 py-2 text-lg font-medium rounded-md"
      >
        <span class="material-symbols-outlined mr-3">settings</span>
        {{ 'SIDEBAR.SETTINGS' | translate }}
      </a>
      <button
        (click)="logout()"
        class="w-full flex items-center px-4 py-2 text-lg font-medium rounded-md text-left mt-2"
      >
        <span class="material-symbols-outlined mr-3">logout</span>
        {{ 'SIDEBAR.LOGOUT' | translate }}
      </button>
    </div>
  </nav>
</aside>
