// Selecciona todos los enlaces <a> y botones <button> dentro del componente.
:host ::ng-deep a,
:host ::ng-deep button {
  // Aplicamos los estilos de hover que definiste en tu diseño.
  @apply hover:bg-muted text-muted-foreground;

  // ¡NUEVO! Añadimos una transición suave para el color de fondo y el texto.
  // La animación durará 200ms y tendrá una curva de aceleración suave.
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

// Estilo para el enlace activo, sin cambios, pero ahora se aplicará sobre la base anterior.
.active-link {
  @apply bg-primary/10 text-primary shadow-glow-primary border border-primary/50 font-semibold;
}

/* Animación de flotar */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Animación de resplandor */
@keyframes pulse-glow {
  0% {
    filter: drop-shadow(0 0 6px rgba(6, 168, 249, 0.3));
  }
  50% {
    filter: drop-shadow(0 0 16px rgba(6, 168, 249, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 6px rgba(6, 168, 249, 0.3));
  }
}

/* Logo dentro del login */
.login-logo {
  width: 130px; /* ajusta según tamaño que quieras */
  margin: 0 auto 10px; /* centrado + espacio abajo */
  margin-bottom: -25px;
  display: block;

  animation: float 4s ease-in-out infinite, pulse-glow 3s ease-in-out infinite;

  /* evitar que se pixelee */
  image-rendering: auto;
  -webkit-user-drag: none;
  user-select: none;
}
